<div class="d-flex flex-column h-100 border-bottom border-black border-2">
  <div class="fs-4 fs-xl-3 pb-2 pb-lg-3 mb-4 mb-lg-3 border-bottom border-black border-2"><%=date%></div>
  <div class="ratio ratio-5x3 mb-2 mb-lg-3">
    <img src="./../assets/images/event/<%=picture%>" alt="<%=title%>" class="object-fit-cover">
  </div>
  <h3 class="fs-8 fs-lg-5 mb-2 mb-lg-3"><%=title%></h3>
  <p class="flex-grow-1 font-NotoSansTC mb-4"><%=content%></p>
  <div class="d-flex justify-content-between align-items-center fw-bold border-top border-black border-2 py-2 py-lg-3">
    <div class="d-flex align-items-center">
      <img src="./../assets/images/sparkler.png" alt="sparkler-icon" class="w-20px h-20px me-1">
      <a href="#" class="hover-underline"><%=tag%></a>
    </div>
    <a href="<%=title=='返老還童-制服聯誼' ? 'uniform-meetup.html':'#'%>" class="icon-link icon-link-hover gap-0 hover-circle">
      <span class="me-1"><%=title=='返老還童-制服聯誼' ? '檢視活動':'開賣中'%></span>
      <i class="icofont-rounded-double-right arrow-right bi"></i>
    </a>
  </div>
</div>
